@charset "utf-8";
/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

/** rainbow change  clockwise **/
@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

/** rainbow change  counter clockwise **/
@-webkit-keyframes dhue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.delay01 {
    animation-delay: .1s; /* W3C 和 Opera */
    -moz-animation-delay: .1s; /* Firefox */
    -webkit-animation-delay: .1s; /* Safari 和 Chrome */
}

.delay05 {
    animation-delay: .5s; /* W3C 和 Opera */
    -moz-animation-delay: .5s; /* Firefox */
    -webkit-animation-delay: .5s; /* Safari 和 Chrome */
}

.delay1 {
    animation-delay: 1s; /* W3C 和 Opera */
    -moz-animation-delay: 1s; /* Firefox */
    -webkit-animation-delay: 1s; /* Safari 和 Chrome */
}
